root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{config,conf,csproj,js,json,nuspec,props,resx,targets,tasks,ts,xml,yml}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{php,py}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.go]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true

[*.md]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
